.app-layout {
    min-height: 100vh;

    &__content {
        padding: 24px;
        margin: 16px;
        min-height: 360px;
        background-color: white;
        border-radius: $base-border-radius;
    }

    &__menu {
        position: sticky;
        left: 0;
        top: 0;
    }
}
